* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


.selector-box, .selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.selector * {
    min-width: 100px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.61);
}


h1 {
    color: #3CA8AF;
    font-size: 2rem;
}

h2 {
    color: #3B46AE;
    font-size: 1.25rem;
}


#qualification-selector * {
    background-color: #D8FFF8;
}

#qualification-selector *:hover {
    background-color: #D1E4FF;
}

#subject-selector * {
    background-color: #D1E4FF;
}

#subject-selector *:hover {
    background-color: #b0cbf1;
}