* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.selector-box, .selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.selector * {
    min-width: 100px;
    padding: 20px;
    margin: 10px;
}

